installedESLint: true

extends:
  - google

parserOptions:
  ecmaVersion: 6

env:
  browser: true

rules:
  no-var: warn
  no-else-return: off
  brace-style:
    - error
    - 1tbs
    - allowSingleLine: true
